.button {
  width: 32rem;
  height: 4.75rem;
  border-radius: 2.625rem;
  background: var(--medium-purple);
  font-size: 1.5rem;
  border: none;

  color: white;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.primary {
  width: 16.875rem;
}
