@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 1720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --white: #ffffff;
  --dark-gray: #1f1d2b;
  --background: #393c49;
  --background2: #2d303e;
  --background3: #403e49;
  --medium-gray: #393939;
  --light-gray: #625e5e;
  --dark-pink: #f25764;
  --dark-purple: #363455;
  --medium-purple: #6100ff;
  --light-purple: #9290fe;
  --neon-green: #42ff00;
  --dark-green: #2e4448;
  --light-green: #50d1aa;
  --dark-peach: #4c3b39;
  --light-peach: #ffb572;
  --dark-orange: #493a2c;
  --light-orange: #f2ae2e;
}

body,
html {
  background: var(--dark-gray);
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,
input,
button,
select {
  font: 1rem Bebas-Neue, sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
