@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 1720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --white: #ffffff;
  --dark-gray: #1f1d2b;
  --medium-gray: #393939;
  --light-gray: #625e5e;
  --medium-purple: #6100ff;
  --light-purple: #9290fe;
  --neon-green: #00E000;
}

body,
html {
  background: var(--dark-gray);
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,
input,
button,
select {
  font: 1rem Bebas-Neue, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--gray-800);
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  color: var(--dark-pink);
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
