.box {
  background: white;
  width: 30rem;
  height: 26.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 3rem;
}

.subTitle {
  font-size: 3rem;
  color: var(--medium-purple);
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.inputBox {
  width: 25.125rem;
  height: 3.5rem;
  margin: 0.2rem;
  outline-color: var(--medium-purple);
  border: 1px solid var(--light-purple);
  font-size: 1.5rem;
  text-align: center;

  border-radius: 9px;
}

.inputBox::placeholder {
  color: var(--light-purple);
}

.error {
  text-align: center;
  color: var(--dark-pink);
  height: 1rem;
  width: 100%;
}

.link-login {
  text-decoration: none;
  color: #f2ae2e;
}
